* {
  box-sizing: border-box;
}



.full-container{
  display: flex;
 justify-content: space-around;
  align-items: center;
/* background-color: darkorchid; */
height: 70vh;

}

.left-col {
  flex: 50%;
 

  
   
}

 .right-col{
/* margin: 50px; */
 
 
 }
  
.form {
  display: flex;
  flex-direction: column;
   justify-content: space-around;
  align-items: center;
 
/* padding: 20px; */
/* margin: 20px; */


}
.item {
  padding: 20px;

}