* {
  box-sizing: border-box;
}



.full-container{
  display: flex;
 justify-content:center;
  /* align-items: center; */
background-color: darkorchid;
height: 100vh;
}




 .left-col {
   display: flex;
width: 50%;
align-items: center;
justify-content:center;
}
.right-col{
   display: flex;
width: 50%;
align-items: center;
justify-content:center;
}
  
/* .form {
  display: flex;
  flex-direction: column;
   justify-content: space-around;
  align-items: center;

} */
.item {
  padding: 20px;

}